
//#app
//  background:$bg-color-light
//  color: $color-light
//
//.theme-light
//  background:$bg-color-light
//  color: $color-light
//
//.theme-dark
//  background:$bg-color-dark !important
//  color: $color-dark !important
theme(backcolor=red,color=#fff)
  h2
    color: color;
    background: backcolor;


